body {
  margin: 0;
  background-color: black;
}

#root {
  padding: 3rem;
  text-align: center;
}

#root h1 {
  font-family: 'Press Start 2P', Consolas, monospace;
  color: white;
}

#root canvas {
  display: block;
  margin: 0 auto;
}

.cr {
  padding: 8px 0;
  background-color: #383838;
}

.cr-text {
  font-family: 'Press Start 2P', Consolas, monospace;
  color: #ffffff;
}

.cr-link {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

.cr-link:hover {
  font-style: italic;
  text-decoration: underline;
}
