body {
    margin: 0;
    background-color: #000;
}

#root {
    padding: 3rem;
    text-align: center;
}

#root h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: #fff;
}

#root canvas {
    display: block;
    margin: 0 auto;
}

#mobile {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: #fff;
    margin-top: 5rem;
}

.cr {
    padding: 8px 0;
    text-align: center;
}

.cr-text {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: #fff;
}

.cr-link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.cr-link:hover {
    font-style: italic;
    text-decoration: underline;
}

@media (max-width: 750px) {
    #root {
        padding: 1rem;
    }
    #root h1 {
        margin-top: 0.5rem;
    }
    .cr-text {
        font-size: smaller;
    }
}

@media (max-width: 500px) {
    #root {
        padding: 2.5rem;
    }
    #root h1 {
        margin-top: 1rem;
        font-size: medium;
    }
    .cr {
        padding: 0;
    }
    .cr-text {
        font-size: xx-small;
    }
}
